* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.btn {
  cursor: pointer;
}